#root {
  height: 100vh;
  text-align: center;
  .background {
    height: 100%;
    &::before{
      content: '';
      background: #e6fffb url('@/assets/background.png') no-repeat fixed; 
      background-size: cover;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}